<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="lib/bootstrap-5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
    >
    <script
            src="lib/bootstrap-5.3.0/dist/js/bootstrap.bundle.min.js"
    ></script>
    <style>
        .buttonChangeColor {
            text-decoration: none;
            color: #A9A9A9;
        }
        a.buttonChangeColor:hover {
            color:  #FF4500;
            text-shadow: 0 0 1px  #FF4500;
        }
    </style>
    <!--<script src="js/main.js"></script>-->
</head>
<body>
<!--<p th:text="|Hello, ${name}!|" />-->
<div class="container fs-3" style="margin-top: 100px;">
    <div class="row" style="width: 120%; margin-left: -10%;
    line-height: 200%; display: flex; flex-wrap: wrap; justify-content: space-between; vertical-align: center;">
        <div class="col-3 border border-dark" style="padding: 20px;">
            <span style="margin: 0; padding: 0; font-size: 100%; vertical-align:
                baseline; border: 0; outline: 0; background: transparent;">SweetySoap</span>
            <button type="button" class="btn btn-light" style="width: 23%; align-content: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-caret-down-square" viewBox="0 0 16 16">
                    <path d="M3.626 6.832A.5.5 0 0 1 4 6h8a.5.5 0 0 1 .374.832l-4 4.5a.5.5 0 0 1-.748 0z"/>
                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
                </svg>
                <div style="margin: 0; padding: 0; font-size: 80%; vertical-align:
                baseline; border: 0; outline: 0; background: transparent;">Каталог</div>
            </button>
        </div>
        <div class="col-5 border border-dark" style="padding: 20px;">
            <div>
                <input placeholder="найти на sweetysoap" style="width: 100%;" class="border border-secondary-subtle" type="text"/>
            </div>
        </div>
        <div class="col-4 border border-dark" style="padding: 20px;">
            <button type="button" class="btn btn-light" style="width: 23%; align-content: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                </svg>
                <div style="margin: 0; padding: 0; font-size: 80%; vertical-align:
                baseline; border: 0; outline: 0; background: transparent;">Профиль</div>
            </button>
            <button type="button" class="btn btn-light" style="width: 23%; align-content: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg>
                <div style="margin: 0; padding: 0; font-size: 80%; vertical-align:
                baseline; border: 0; outline: 0; background: transparent;">Корзина</div>
            </button>
            <button type="button" class="btn btn-light" style="width: 23%; align-content: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-balloon-heart" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="m8 2.42-.717-.737c-1.13-1.161-3.243-.777-4.01.72-.35.685-.451 1.707.236 3.062C4.16 6.753 5.52 8.32 8 10.042c2.479-1.723 3.839-3.29 4.491-4.577.687-1.355.587-2.377.236-3.061-.767-1.498-2.88-1.882-4.01-.721zm-.49 8.5c-10.78-7.44-3-13.155.359-10.063q.068.062.132.129.065-.067.132-.129c3.36-3.092 11.137 2.624.357 10.063l.235.468a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3 3 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.235-.468ZM6.013 2.06c-.649-.18-1.483.083-1.85.798-.131.258-.245.689-.08 1.335.063.244.414.198.487-.043.21-.697.627-1.447 1.359-1.692.217-.073.304-.337.084-.398"/>
                </svg>
                <div style="margin: 0; padding: 0; font-size: 80%; vertical-align:
                baseline; border: 0; outline: 0; background: transparent;">Избранное</div>
            </button>
            <button type="button" class="btn btn-light" style="width: 23%; align-content: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-building-down" viewBox="0 0 16 16">
                    <path d="M12.5 9a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7m.354 5.854 1.5-1.5a.5.5 0 0 0-.708-.708l-.646.647V10.5a.5.5 0 0 0-1 0v2.793l-.646-.647a.5.5 0 0 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0"/>
                    <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1z"/>
                    <path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
                </svg>
                <div style="margin: 0; padding: 0; font-size: 80%; vertical-align:
                baseline; border: 0; outline: 0; background: transparent;">Адреса</div>
            </button>
        </div>
    </div>
</div>
<div class="container fs-3">
    <div class="row" style="width: 120%; margin-left: -10%;
    line-height: 200%; display: flex; flex-wrap: wrap; justify-content: space-between; vertical-align: center;">
        <div class="col-12 border border-dark" style="padding: 20px;">
            <a class="buttonChangeColor">Кнопка</a>
            <button class="buttonChangeColor">Кнопка</button>
            <button class="buttonChangeColor">Кнопка</button>
            <button class="buttonChangeColor">Кнопка</button>
            <button class="buttonChangeColor">Кнопка</button>
            <button class="buttonChangeColor">Кнопка</button>
            <button class="buttonChangeColor">Кнопка</button>
            <button class="buttonChangeColor">Кнопка</button>
            <button class="buttonChangeColor">Кнопка</button>
            <button class="buttonChangeColor">Кнопка</button>
            <button class="buttonChangeColor">Кнопка</button>
            <button class="buttonChangeColor">Кнопка</button>
            <button class="buttonChangeColor">Кнопка</button>
        </div>
    </div>
</div>
</body>
</html>