<!DOCTYPE HTML>
<html>
<head>
    <title>SweetSoap - лучший бренд мыла</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="lib/bootstrap-5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/lib/bootstrap-5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="lib/leaflet1/dist/leaflet.css"/>
    <script src="../static/lib/leaflet1/dist/leaflet.js"></script>

    <link rel="stylesheet" href="css/main.css">
    <script src="../static/js/main.js"></script>
    <script src="../static/js/MapView.js"></script>
</head>
<body>
<div th:insert="~{fragments.html :: header}"></div>


<div class="container fs-3" style="margin-top: 20px;">
    <div class="row" style="width: 120%; margin-left: -10%;
    line-height: 200%; vertical-align: center;">
        <p>Ознакомиться с нашей продукцией вы можете в фирменных шоурумах SweetSoap</p>
        <div class="container" style="position: relative;">
            <div style="position: relative">
                <div id="mapid" style="position: absolute; z-index: 100; "></div>
            </div>
        </div>
    </div>

    <div class="row"
         style="margin-left: -5%; margin-top: 60px;">
        <div th:insert="fragments.html :: ending"></div>
    </div>
</div>

<script>
    let map_view = null;
    function on_init() {
        map_view = new MapView('mapid');
    }
    let map = document.getElementById('mapid');
    on_init();
</script>

</body>
</html>